/target
**/*.rs.bk
_site/
test/results/

/*.wav
output*.png
salida*.png
*~

/debian/noaa-apt/
/debian/noaa-apt.debhelper.log
/debian/noaa-apt.substvars
/debian/files
/debian/.debhelper/
/debian/debhelper-build-stamp
