[package]
name = "noaa-apt"
version = "1.2.0"
authors = ["Martin Bernardi <martinber.710@gmail.com>"]
edition = "2018"
build = "src/build.rs"

[profile.dev]
# So the dev builds run faster, otherwise they are extremely slow
opt-level = 3

[profile.release]
# I don't like silent overflows
overflow-checks = true

[features]
default = ["gui"]
gui = ["gtk", "gdk", "gdk-pixbuf", "gio", "glib"]
static_ssl = ["openssl/vendored"] # Not valid for Microsoft Windows
windows_console = [] # Show console on Microsoft Windows

[dependencies]
approx = "0.3.2"
argparse = "0.2.2"
chrono = "0.4.11"
directories = "2.0.2"
filetime = "0.2.10"
gcd = "2.0.1"
hound = "3.4.0"
itertools = "0.9.0"
line_drawing = "0.8.0"
log = "0.4.8"
image = { version = "0.23.4", features = ["png"] }
reqwest = { version = "0.10.4", features = ["blocking"] }
rustfft = "3.0.1"
satellite = { git = "https://github.com/richinfante/satellite-rs", rev = "1f95726" }
serde = { version = "1.0.110", features = ["derive"] }
serde_json = "1.0.53"
shapefile = "0.2.0"
simple_logger = "1.6.0"
toml = "0.5.6"

# openssl is a indirect dependency because of reqwest, I have to add openssl as
# a direct dependency if I want to enable the "vendored" feature, but for
# Windows it breaks the build. Looks like adding it as an optional dependency is
# working for both cases
openssl = { version = "0.10.29", optional = true }

gtk = { version = "0.8.1", optional = true, features = ["v3_16"] }
gdk = { version = "0.12.1", optional = true }
gdk-pixbuf = { version = "0.8.0", optional = true, features = ["v2_32"] }
gio = { version = "0.8.1", optional = true }
glib = { version = "0.9.3", optional = true }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.8", features = ["shellapi"] }
