#!/usr/bin/make -f

# Binaries to use
CARGO_BINARY ?= cargo
CLEAN_TARGET ?= 0

%:
	dh $@

override_dh_auto_clean:
	# $(CARGO_BINARY) clean
	rm -r docs/_site || true
	rm -r test/results || true
	rm -r *.wav || true
	rm -r *.png || true

override_dh_auto_build:
	$(CARGO_BINARY) build --release --verbose --features static_ssl
