/*
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
		line-height: 1.5em;
	}