id ICON "icon.ico"
1 VERSIONINFO
FILEVERSION     1,1,2,0
PRODUCTVERSION  1,1,2,0
BEGIN
BLOCK "StringFileInfo"
BEGIN
    BLOCK "040904E4"
    BEGIN
        VALUE "CompanyName", "Martin Bernardi"
        VALUE "FileDescription", "noaa-apt image decoder"
        VALUE "FileVersion", "1.1.2"
        VALUE "InternalName", "noaa-apt"
        VALUE "LegalCopyright", "Martin Bernardi"
        VALUE "OriginalFilename", "noaa-apt.exe"
        VALUE "ProductName", "noaa-apt"
        VALUE "ProductVersion", "1.1.2"
    END
END
BLOCK "VarFileInfo"
BEGIN
    VALUE "Translation", 0x409, 1252
END
END

